*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(141, 153, 174);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    margin-top: 10px;
    padding: 5px;
    color: black;
    border: 1px solid black;
    background-color: rgb(237, 242, 244);
    text-shadow: 5px;
}

.container {
    box-sizing: border-box;
   
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 65vh;
    width: 50vw;
    padding: 20px;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 1.3vmin;
    padding: 10px;
}

.new{
    padding-left: 25px;
}

.box {
    display: flex;
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    font-size: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.reset {
    height: 45px;
    width: 200px;
    font-weight: 1.3rem;
    font-size: 30px;
    border-radius: 10px;
}

/* #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  } */
  
  .newbtn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }